.custom-button {
    font-size: 1.2rem;
    cursor: pointer;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
}

.custom-button:hover {
    background-color: #0056b3;
}

.list-item-name input {
    background: none;
    text-align: center;
}