.config-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    text-align: center;
    height: 100vh;
}

.config-container h2 {
    margin-bottom: 20px;
    text-align: center;
}

.config-container li a {
    text-decoration: none;
    color: black;
}